table.funding-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.funding-table tr th {
  border-right: none;
}

.funding-table th,
.funding-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.funding-table th {
  background-color: var(--primary-red-100);
  /* color: var(--primary-red); */
}

.funding-table .loading {
  height: calc(35.5px * 5);
}
